.servi{
    color: #f5f5f5;
    text-shadow: 0 0 15px #090a0a, 0 0 15px #B8860B;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    font-family: 'Playfair Display', Georgia, serif;
    margin-bottom: 60px;
}   