{% extends '-bases.html' %}
{% load static %}
{% block tittle %} Galeria {% endblock %}
{% block style %} {% static 'css/Galeria.css' %} {% endblock %}
{% block js %} {% static 'js/Galeria.js' %} {% endblock %}
{% block cuerpo %}
<main>
    <h1 class="gali">NUESTRA GALERIA</h1>
    
    <section class="gallery container my-4">
        <div class="row g-3">
            {% for i in imagenes %}
            <div class="col-6 col-md-4 col-lg-3">
                <a href="#" data-bs-toggle="modal" data-bs-target="#galeriaModal" data-bs-slide-to="{{ forloop.counter0 }}">
                    <img src="{% static i %}" class="img-fluid rounded galeria-thumb" alt="Imagen galería">
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

<!-- Modal Carrusel -->
<div class="modal fade" id="galeriaModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content bg-dark border-0">
      <div class="modal-body p-0">
        <div id="carouselGaleria" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for i in imagenes %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{% static i %}" class="d-block w-100" alt="Imagen galería">
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselGaleria" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselGaleria" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

