{% extends '-bases.html' %}
{% load static %}
{% block tittle %} Habitaciones {% endblock %}
{% block style %} {% static 'css/Habitaciones.css' %} {% endblock %}
{% block cuerpo %}
<div class="room-container">
  {% for habitacion in habitaciones %}
  <div class="room-section">
    <div class="room-info">
      <h1>{{ habitacion.nombre }}</h1>
      <p>{{ habitacion.descripcion }}</p>
      <p>👥 Capacidad: {{ habitacion.capacidad }}</p>
      <p>💸 precio: ${{ habitacion.precio }}</p>
      <br>
      <a href="{% url 'agregar_reservas' %}" class="reserve-button">Reservar Ahora</a>
    </div>
    <img src="{{ habitacion.foto.url }}" alt="Grand Suite" style="width :600px;height :400px;">
  </div>
  {% endfor %}
</div>
          <div class="amenity">
          </div>
{% endblock %}